*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* <!-- start navbar --> */
.nav{
    margin-left: 100px;
}
 .navbar a{
     color: #000;
     font-weight: bolder;
}
.navbar{
    border: .1px solid orange;

}
/* <!-- end navbar --> */

/* start section one */
.sec-one .foto img{
        height: 40vh;
        width: 300px;
        float: left;
        margin-top: 40px;
        margin-left: 25px;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
}
.sec-one .mean{
    width: 50vw;
    float: right;
    margin-top: 25px;
}
.sec-one .mean h1{
    color: orange;
    font-size: large;
    font-weight: bolder;
}
/* end section one */

/* start section two */
.sec-two{
    margin-left: 40px;
    margin-top: 50px;
    padding-bottom: 30px;
}
.sec-two h1,p{
    font-size: small;
    margin-top: 8px;

}
.sec-two .E{
    box-shadow: 1px 1px 1px 1px  rgb(25, 2, 2);
    margin-left: 50px;
    width: 450px;
    height: 30vh;
}
.sec-two .E i{
    color: orange;
    font-size:x-large ;
    margin-top: 20px;
}

/* end section two */



/* start section three */
.sec-three {
    padding: 70px 0px;
}
.sec-three .F i{
    color: orange;
    font-size: x-large;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.sec-three h1{
    text-align: center;
    margin-top: -10px;
    font-size: x-large;
}
.sec-three h3{
    color: orange;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;


}
.sec-three .start{
    padding-top: 40px;
}

.sec-three  .F{
     box-shadow: 0px 1px 1px 1px  rgb(25, 2, 2);
    margin-left: 30px;
    width: 330px;
    height: 130px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    
}

/* end section three */



/* start section four */
.sec-four{
    padding-top: 50px;
}
.sec-four h1{
text-align: center;
color: orange;
font-size: large;
font-weight: bolder;

}
.sec-four h2{
text-align: center;
font-size: x-large;
margin-top: -10px;

}
.sec-four .fotos img{
    background-color: #fff;
    width: 220px;
    height: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}



/* end section four */


/* <!-- start section sex --> */
.sec-sex{
    color: #fff;
    background-color: #4b2d2d;
    padding-top: 30px;
}
.sec-sex .pag{
    display: flex;
    justify-content: space-between;
}
.sec-sex .pag .page1 ,.page2,.page3,.page4{
    margin-left: 20px;
}
.sec-sex .pag .page1 i{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.sec-sex .page2 ,.page4{
    display: flex;
    flex-direction: column;

}
.sec-sex .m{
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.sec-sex .pag h1{
    font-size: medium;
    color: #fff;

}
.sec-sex .page2 span a{
    text-decoration: none;
    color: #fff;
}
.sec-sex .pag p{
    font-size: smaller;
    width: 25vw;
    color: #fff;
}
.sec-sex .pag i{
    color: orange;
}
.end{
    text-align: center;
    font-size: x-small;
    font-weight: lighter;
   }
   .end h1{
     color: #c7aeae;
    border-top: .2px solid #f8c7c7;
    margin-top: 50px;

     font-size: small;
     font-weight: lighter;
   }
   .end span{
    color: #fff;
    font-size: 10px;
    font-weight: bold;

   }
/* <!-- end section sex --> */