*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}
/* <!-- start navbar --> */
.nav{
    margin-left: 100px;
}
 .navbar a{
     color: #000;
     font-weight: bolder;
}
.navbar{
    border: .1px solid orange;

}
/* <!-- end navbar --> */

/* <!-- start section one --> */
.sec-one{
   background-image: linear-gradient(to right, orange, rgb(249, 108, 8));
    height: 90vh;
    margin-top: -20px;
    display: flex;
}
.sec-one .right{
    margin-top: 50px;
    padding-left: 50px;
}
.sec-one .right h1,h2,p{
    color: #fff;
}
.sec-one .right .btn{
    margin-top: 20px;
}
.sec-one p{
    width: 110vh;
}
.sec-one .left img{
    margin-left: 30px;
    margin-top: 30px;
    height: 75vh;
     animation-name: rovan ;
    animation-duration:5s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 2;
}
@keyframes rovan{
    0%{
        transform: rotate(-360deg) ;
        -webkit-transform: rotate(-360deg) ;
        -moz-transform: rotate(-360deg) ;
        -ms-transform: rotate(-360deg) ;
        -o-transform: rotate(-360deg) ;
}


}
/* <!-- end section one --> */

/* <!-- start section two --> */
.sec-two{
    margin-bottom: 50px;

}
.sec-two .card img{
    height: 130px;
    width: 140px;
}
.card{
    margin-top: 30px;
   
}
 .card .p{
    background-color: orange;
    width: 140px;
    margin-top: -25px;
 }

.sec-two p,h1{
    padding-top: 30px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.sec-two p{
    margin-top: -20px;
}
.sec-two.card h2,h3{
    color: #000;
    font-weight: lighter;
    text-align: center;
}
.sec-two h2{
    color: #000; 
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}
.sec-two.card h2,h3{
    font-size:medium;
    text-align: center;
}  
/* <!-- end section two --> */
/* <!-- start section three --> */
.sec-three {
    margin: 30px auto;
}
.sec-three h1,p{
    text-align: center;
    font-weight: bold;
    
}
.sec-three .pages{
}
.sec-three .pages em{
    position: absolute;
    border-radius: 50%;
   background-color: orange;
}
.abslute1 ,.abslute2,.abslute3,.abslute4{
font-weight: bolder;
font-size: 20px;
text-align: center;
left: -6px;
top: -6px;
width: 25px;
height: 25px;
}
.sec-three .pages div{
    position: relative;

    background-color: rgb(245, 245, 237);
    height: 230px;
    width: 230px;
    margin-left: 10px;
    border: .5px solid orange;
    
    
}
.sec-three .pages div:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    background-color: rgb(242, 195, 107);
}
.sec-three .pages i:hover{
color: #fff;
}
.sec-three .pages div h1,p{
    font-weight: lighter;
    font-size: medium;
    color: #000;
    margin-top: 30px;
}
.sec-three .pages div h1{
    margin-top: -15px;
}
.sec-three .pages i{
    height: 10px;
    font-size: 50px;
    text-align: start;
    margin: 50px 80px;
    margin-bottom: 20px;
    color: orange;
}
/* <!-- end section three --> */

/* <!-- start section four --> */
.sec-four{
    background-color: #4b2d2d;
    color: #fff;
}
.sec-four .pag{
    display: flex;
    justify-content: space-between;
}
.sec-four .pag .page1 ,.page2,.page3,.page4{
    margin-left: 20px;
}
.sec-four .pag .page1 i{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.sec-four .page2 ,.page4{
    display: flex;
    flex-direction: column;

}
.sec-four .m{
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.sec-four .pag h1{
    font-size: medium;
    color: #fff;

}
.sec-four .page2 span a{
    text-decoration: none;
    color: #fff;
}
.sec-four .pag p{
    font-size: smaller;
    width: 25vw;
    color: #fff;
}
.sec-four .pag i{
    color: orange;
}
.end{
    text-align: center;
    font-size: x-small;
    font-weight: lighter;
   }
   .end h1{
     color: #c7aeae;
    border-top: .2px solid #f8c7c7;
    margin-top: 50px;

     font-size: small;
     font-weight: lighter;
   }
   .end span{
    color: #fff;
    font-size: 10px;
    font-weight: bold;

   }
/* <!-- end section four --> */






 